$margin-top-small: 16px;
$margin-top-large: 35px;
$day_margin: 10px;
$day_width: calc((100% - 6 * #{$day_margin}) / 7);
$block_padding: 15px;

.applet {
  background-color: rgb(255, 255, 255);
  color: #444444;
}

#below .applet {
  height: 484px;
}

.week {
  margin-bottom: $margin-top-large;
  height: 300px;


  .weekday {
    padding: $block_padding;
    margin-left: $day_margin;
    width: $day_width;
  }

  .weekday:first-child {
    margin-left: 0px;
  }

  .header {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 12px;
  }
}

.rest {
  padding: $block_padding;
  width: calc(2 * #{$day_width} + #{$day_margin});
}

.add_todo {
  padding: $block_padding;
  margin-left: calc(#{$day_width} + #{$day_margin});  /* Exactly 1 column to the right */
  width: calc(3 * #{$day_width} + 2 * #{$day_margin});  /* Exactly 2 columns */

  .datepicker {
    margin-top: $margin-top-small;
  }
}

.cdk-drag-preview {
  padding: 5px;
  border-radius: 10px;
  border: 1px dotted #333333;
  min-height: 35px;
  background-color: rgba(200, 200, 200, .3)
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-animating {
  transition: transform 650ms cubic-bezier(0, 0, 0.2, 1);
}

div.errors {
  margin-top: 2px;
  color: #FF0000;
  font-size: 12px;
}

.input {
  font-weight: 600;
}

.submit_button {
  margin-top: $margin-top-small;
}
