<div cdkDropListGroup>
  <h2>{{ 'TODOS.THIS_WEEK' | translate }}</h2>
  <div class="week" fxLayout="row">
    <div *ngFor="let day of todos | keyvalue" fxLayout="column" class="weekday applet"
         cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="{'data': day.value, 'key': day.key}">
      <div class="header">
        {{ 'TMP_LOCALIZATION.' + (day.key | date:"EEEE") | translate | titlecase }}
        {{ day.key | date:"d" }}
        {{ 'TMP_LOCALIZATION.' + (day.key | date:"MMMM") | translate | titlecase }}
        {{ day.key | date:"yyyy" }}</div>
      <span *ngFor="let todo of day.value" cdkDrag [cdkDragData]="{'todo': todo}">
        <todo-detail [todo]="todo" [showDate]=showDate></todo-detail>
      </span>
    </div>
  </div>
</div>

<div fxLayout="row" id="below">
  <div fxLayout="column" class="rest applet">
    <h2>{{ 'TODOS.OTHER' | translate }}</h2>
    <div *ngFor="let todo of other" cdkDrag [cdkDragData]="todo">
      <todo-detail [todo]="todo" [showDate]=true></todo-detail>
    </div>
  </div>
  <div fxLayout="column" class="add_todo applet">
    <div class="input">
      <h2>{{ 'TODOS.ADD_TODO' | translate }}</h2>
      <div fxLayout="row">
        <div fxLayout="column">
          {{ 'TODOS.TODO_NAME' | translate }}:&nbsp;
        </div>

        <div fxLayout="column">
          <input [(ngModel)]="todoData.name" />
        </div>
      </div>
    </div>
    <div class="datepicker">
      <div fxLayout="column" class="input">
          {{ 'TODOS.TODO_DATETIME_START' | translate }}:
        </div>
        <div fxLayout="column">
          {{ todoData.datetime_start | date:"EEEE dd MMMM yyyy HH:mm" }}
        </div>
        <dl-date-time-picker [(ngModel)]="todoData.datetime_start" startView="day" maxView="year" minView="minute"
                             minuteStep="1">
        </dl-date-time-picker>
    </div>
    <button (click)="addtodo()" class="submit_button">Save</button>
    <div *ngIf="errors" class="errors">
      <div *ngFor="let error of errors | keyvalue">{{ error.key }} : {{ error.value }}</div>
    </div>
  </div>
</div>
