<div id="content_wrapper">
  <h1>{{ 'HOME.WELCOME_TO' | translate }} {{ title }}!</h1>

  <div class="language_choice">
    <span id="translate_test">{{ 'HOME.SELECT' | translate }}</span>&nbsp;
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
  </div>

  <router-outlet></router-outlet>
</div>
