@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


$content-padding: 20px;
$button-color: rgb(100, 175, 0);
$app-background: rgba(0, 100, 0, .1);

body, html, #content_wrapper {
    height:  100%;
}

#content_wrapper {
    padding: $content-padding;
    background-color: $app-background;
}

h1 {
  text-align: center;
}

input, select, select option {
  background-color: $app-background;
}

button {
  color: white !important;
  background-color: $button-color;
  font-weight: 600;

  &:hover {
      color: black !important;
  }
}

.language_choice {
  position: fixed;
  right: $content-padding;
  top: $content-padding;
}

/* overwrite datepicker */
.datepicker {
  button {
    border-radius: 0 !important;
  }

  .dl-abdtp-selected {
    background-color: $button-color !important;
  }
}
